:root {
    --azul: #2563eb;
    --azul-hover: #1e40af;
    --rojo: #dc2626;
    --rojo-hover: #991b1b;
    --blanco: #FFF;
}
a {
    color: var(--blanco);
    text-decoration: none;
}
.main-content {
    margin-top: 5rem;
    padding: 5rem;
}
.edit-item-btn, .remove-item-btn {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: var(--blanco);
    font-weight: 500;
    border-radius: 4px;
    i {
        color: var(--blanco);
    }
    transition: all 300ms ease;
}
.edit-item-btn {
    background-color: var(--azul);
}
.edit-item-btn:hover {
    background-color: var(--azul-hover);
    color: var(--blanco);
}
.remove-item-btn {
    background-color: var(--rojo);
}
.remove-item-btn:hover {
    background-color: var(--rojo-hover);
    color: var(--blanco);
}
.dataTables_filter input.form-control {
    min-height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .7109375rem;
    border-radius: .2rem;
    border: 1px solid var(--vz-input-border);
}
